<!DOCTYPE html>
<html>
  <head>
    <title>When President</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <script type="text/javascript" src="/assets/javascript/script.js"></script>
  </head>
  <body>
    <h1><a href="/">When President...</a></h1>
    {{{body}}}
  </body>
</html>
